## Parte 1
- Trabajar en un archivo llamado cuaderno1.ipynb
- Crear un conjunto de datos usando la librería https://faker.readthedocs.io/en/master/
- El número de registros que se debe generar es de 10000
- El conjunto de datoss tendrá las siguientes características:
- Para cada registro usar las características: fake.name(), fake.last_name(), fake.email(), fake.address()
- Pasar los registros a un dataframe de pandas
- Agregar dos características más:
- Edad, comprendidas entre 30 y 40 años
- Provincia, entre las opciones (Loja, Pichincha, Guayas, Azuay, Manabí)
- Pasar el dataframe a un archivo csv

In [1]:
import pandas as pd
import numpy as np
from faker import Faker
fake = Faker()

In [2]:
lista = []
for x in range(0,1000):
    lista.append({'nombre': fake.name(), 'apellido': fake.last_name(), 'email': fake.email(), 'direccion': fake.address() })

In [3]:
data = pd.DataFrame(lista)
data.head(10)

,nombre,apellido,email,direccion
0,Rachel Martinez,Harris,thomaswilkins@example.net,"143 Nicholas Squares\nLake William, WV 92458"
1,Justin Douglas,Johnston,joneslori@example.com,"9357 Alejandra Lock\nWest Stevenmouth, KY 08391"
2,Michelle Jackson,Garcia,jennifer94@example.net,"049 Joshua Village\nSouth Teresa, NJ 30906"
3,Jeffrey Bates,Nolan,ocastillo@example.com,"975 Michael Hollow Suite 694\nBarnesview, TX 0..."
4,Martin Mccoy,Young,staceysmith@example.com,"050 Richard Lakes Suite 101\nTammyberg, PW 86321"
5,Robin Zamora,Taylor,kevin50@example.org,"444 Margaret Inlet\nPort Jessica, DE 00948"
6,Elizabeth Henderson,Sampson,roger18@example.com,"971 Chapman Light\nSouth Olivia, VI 83296"
7,Sergio Jackson,Warner,bwilson@example.org,"1267 Elizabeth Park\nMontesburgh, NE 05279"
8,Luis Ibarra,Cox,sberger@example.org,"80156 Jones Rapid\nMasonchester, VA 80810"
9,Noah Holmes,Boone,zharrison@example.com,Unit 3298 Box 5884\nDPO AP 35485

In [4]:
data['edad'] = [fake.random_int(min=30, max=40) for _ in range(len(data))]
data.head(10)

,nombre,apellido,email,direccion,edad
0,Rachel Martinez,Harris,thomaswilkins@example.net,"143 Nicholas Squares\nLake William, WV 92458",30
1,Justin Douglas,Johnston,joneslori@example.com,"9357 Alejandra Lock\nWest Stevenmouth, KY 08391",37
2,Michelle Jackson,Garcia,jennifer94@example.net,"049 Joshua Village\nSouth Teresa, NJ 30906",35
3,Jeffrey Bates,Nolan,ocastillo@example.com,"975 Michael Hollow Suite 694\nBarnesview, TX 0...",40
4,Martin Mccoy,Young,staceysmith@example.com,"050 Richard Lakes Suite 101\nTammyberg, PW 86321",33
5,Robin Zamora,Taylor,kevin50@example.org,"444 Margaret Inlet\nPort Jessica, DE 00948",39
6,Elizabeth Henderson,Sampson,roger18@example.com,"971 Chapman Light\nSouth Olivia, VI 83296",38
7,Sergio Jackson,Warner,bwilson@example.org,"1267 Elizabeth Park\nMontesburgh, NE 05279",30
8,Luis Ibarra,Cox,sberger@example.org,"80156 Jones Rapid\nMasonchester, VA 80810",30
9,Noah Holmes,Boone,zharrison@example.com,Unit 3298 Box 5884\nDPO AP 35485,35

In [5]:
provincias = ['Loja', 'Pichincha', 'Guayas', 'Azuay', 'Manabí']

data['provincia'] = np.random.choice(provincias, size = len(data))
data.head(10)

,nombre,apellido,email,direccion,edad,provincia
0,Rachel Martinez,Harris,thomaswilkins@example.net,"143 Nicholas Squares\nLake William, WV 92458",30,Loja
1,Justin Douglas,Johnston,joneslori@example.com,"9357 Alejandra Lock\nWest Stevenmouth, KY 08391",37,Pichincha
2,Michelle Jackson,Garcia,jennifer94@example.net,"049 Joshua Village\nSouth Teresa, NJ 30906",35,Loja
3,Jeffrey Bates,Nolan,ocastillo@example.com,"975 Michael Hollow Suite 694\nBarnesview, TX 0...",40,Loja
4,Martin Mccoy,Young,staceysmith@example.com,"050 Richard Lakes Suite 101\nTammyberg, PW 86321",33,Loja
5,Robin Zamora,Taylor,kevin50@example.org,"444 Margaret Inlet\nPort Jessica, DE 00948",39,Pichincha
6,Elizabeth Henderson,Sampson,roger18@example.com,"971 Chapman Light\nSouth Olivia, VI 83296",38,Pichincha
7,Sergio Jackson,Warner,bwilson@example.org,"1267 Elizabeth Park\nMontesburgh, NE 05279",30,Guayas
8,Luis Ibarra,Cox,sberger@example.org,"80156 Jones Rapid\nMasonchester, VA 80810",30,Manabí
9,Noah Holmes,Boone,zharrison@example.com,Unit 3298 Box 5884\nDPO AP 35485,35,Guayas

In [6]:
data.to_csv("cuaderno1.csv", index=False)